* {
  font-family: 'Baloo 2', sans-serif;
}


.toast {
    visibility: hidden;            /* Masqué par défaut */
    min-width: 250px;
    max-width: 90vw;
    background-color: #333;        /* Fond sombre */
    color: #fff;                   /* Texte blanc */
    text-align: center;
    border-radius: 8px;
    padding: 16px 24px;
    position: fixed;
    top : 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    pointer-events: none;          /* Pas d’interaction */
}

.toast.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;          /* Active l’interaction quand visible */
}

.toast-success {
    background-color: #28a745; /* Vert succès */
    color: white;
}

.toast-error {
    background-color: #dc3545; /* Rouge erreur */
    color: white;
}


/* Barre latérale */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'Baloo 2', sans-serif;
  background-color: #f9fafb;
  /* background-color: #161616; /* Dark mode */
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    linear-gradient(150deg, rgba(255, 255, 255, 0.6) 30%, transparent 70%),
    radial-gradient(circle at 70% 40%, rgba(245, 245, 245, 0.5), transparent 70%),
    linear-gradient(210deg, rgba(255, 255, 255, 0.3) 40%, transparent 80%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
    linear-gradient(120deg, #186ED1, #186ED1);
  opacity: 0.75;
  z-index: -1;
}

main {
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 70px;
  width: calc(100% - 70px);
  padding: 1.5rem 2rem;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.03);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

