#certif-icon {
  height: 2.3rem;
  margin-left: 1%;
}

h1 {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 3rem;
  margin: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding-bottom: 0;
  overflow: hidden;
}
article {
  margin-top: auto;
  align-self: center;
  width: 80%;
  height: 80%;
  border: 2px solid #2e2e2e46;
  box-sizing: border-box;
}
header {
  height: 8%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  background-color: transparent;
  border-bottom: 2px solid #2e2e2e46;
  box-sizing: border-box;
}
.header-nav {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}
.header-nav a{
  height: 100%;
  margin: 0;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}
.header-nav a:hover {
  background-color: rgba(151, 151, 151, 0.486);
}

.window {
  height: 92%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  border: 0;
  margin: 0;
}
