.window {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.window .accounts {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.window .card {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    width: 22%;
    min-width: 250px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 20%;
    max-width: 400px;
    min-width: 300px;
    margin-top: 5%;
}

.key-preview {
    font-family: monospace;
    background-color: #f0f0f0;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0.3rem;
}

.copy-btn {
    margin-left: 0.5rem;
    padding: 6px 12px;
    border: none;
    background-color: #186ED1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color:rgb(19, 85, 161);
}

.window .getBackButton {
    margin-top: 3%;
}